@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&family=Kanit&family=Mooli&family=Quintessential&family=Rubik:ital,wght@0,300;0,500;1,300&family=Tilt+Prism&display=swap');
#titulo-pagina{
    
    background-color:rgb(0, 0, 0);
    
    
    
    padding-right: 30vw;
    
   
    overflow: hidden;
   
    width: 500px;
    
    
}
#headerDados {
    opacity: 0.15;
    
   
    
    
    
    
    width:350px;
    
}


#titulo{
    
    text-shadow: 2px 1px 1px #f09620;
    font-family:"Quintessential"; 
    color:rgb(216, 68, 23);
    text-align: center;
    font-style: oblique;
    font-weight: 900;
    font-size: 45px;
    margin-top: 0;
    

}

.linkNav{
    display:block;
    margin-left: 10px;
    margin-right: 0;
    margin-top: 0;
    

}
#listaLinkNav{
    display: flex;
    list-style-type: none;
    margin-right: 10px;
    flex-wrap: nowrap;
    margin-top: auto;
    margin-bottom: auto;
}
#navMain{
    
    
    background-color: rgb(0, 0, 0);
    height: 2cm;
    width: 1025px;
    margin-left: auto;
    margin-right: auto;
    border: red 2px;
    border-style: inset double double double;

    display: flex;
    justify-content: space-evenly;
    
       
    font-family: "Kanit";
    margin-top: 0;    
    
}

body{
    font-family:"Mooli";
    background-color: rgb(77, 4, 4);
    text-align: center;
    
}
.imgDados{
    
    width: 70%;
    
}

#imgDados{
    width: 15vw;
}
.dado{
    width: 57px;
    margin-top: 7.5px;
    text-align: center;
   
}


#d10png{
    width: 65%;
}

#seccionesInferiores{
    display: flex;
}

.containersMain{
    background-color: rgba(250, 235, 215, 0.781);
    box-sizing: border-box;
    text-align: justify;
    color:rgb(216, 68, 23);
    border: 2px red double;
    height: 200px;
    
    
   
    
}
#conjuntos{
    width: 700px;
    margin-left: auto;
    margin-right: 25px;
    overflow:auto;
}
#rolleos{
    margin-right: auto;
    width: 300px;
    overflow: auto;
}

p{
color: rgb(216, 68, 23);
font-size: 18px;
}

#registerBoxLegend{
    font-size: larger;    
}
#registerBox{
    
    box-sizing: border-box;
    text-align: justify;
    color:rgb(216, 68, 23);
    border: 2px red inset;
}

#linkDadosContainer{
    
    
    
    height: 6.7rem;
    width: 550px;
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
 
    
       
    justify-content:space-evenly;
    
    flex-wrap: wrap;
    display: flex;
    
}



@media (max-width: 1024px){
#titulo-pagina{
    width: 400px;
    
}
#navMain{
    width: auto;
    
}
}
@media (max-width: 550px){
    #linkDadosContainer{
    
        justify-content: center;
        width: 7rem;
        overflow: auto;
        margin-left: 0.1vw;
        margin-right: auto;
        
        
        }

 

    .containersMain{
        height: 150px;
    }

    #seccionesInferiores{
        display: block;
        justify-content: center;
        
    }
    #conjuntos{
        width: auto;
        margin-left: auto;
        margin-right: auto;
        }
    #rolleos{
        margin-top: 10px;
        
        margin-left: 0.1vw;
        margin-right: auto;
    }
}
@media (max-width: 400px) {
    #rolleos{
        margin-top: 10px;
        width: auto;
        margin-left: 0.1vw;
        margin-right: auto;

}
    

    
}
@media (max-width: 280px){
    


}